<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/slick/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="/assets/slick/slick-1.8.1/slick/slick-theme.css">




    <link href="../css-sys/grid.css" rel="stylesheet" />
    <link href="../css-sys/gallery.css" rel="stylesheet" />
    <link href="../css-sys/base_gallery.css" rel="stylesheet" />



</head>

<body class="">
    <div id="main">
        <div id="header" class="header">

            <div class="header__heading c-0">
                <div class="header__heading-items">
                    <span class="header__heading-item-phone">0242 242 0777</span>
                    <div class="header__heading-item-social">
                        <a><i class="fab fa-facebook-f"></i></a>

                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                <div class="header__heading-items">
                    <a class="header__heading-item-language color-white" href="/SelectLanguge/en">en</a>
                    <a class="header__heading-item-language color-white" href="/SelectLanguge/vi">vi</a>

                </div>
            </div>



        </div>
        <div class="header__navigation-btn">
        </div>
    </div>




    <!-- container -->
    <div class="container">
        <div class="container_about-page" style="background-image: url();">
            <div class="grid wide margin-left padding-40">
                <div class="row">
                    <div class="container_about-page-warp l-7 col m-6">
                        <h5>EXPERIENCE THE FREEDOM</h5>
                        <h1>H&#236;nh ảnh</h1>
                        <p>C&ugrave;ng chia sẻ những khoảng khắc truyền cảm hứng của bạn với ch&uacute;ng t&ocirc;i</p>
                        <div class="container_about-page-items">
                            <i class="fa-solid fa-house-chimney"></i>
                            <a href="../template/ktx.html">Home</a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="../template/ktx.html">Pages</a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="../template/ktx.html" class="active-main-color">SERVICES PAGE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container__gallery">
            <div class="container">
                <h2 class="container__gallery-title">H&#236;nh ảnh</h2>
                <div class="gallery-grid">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col l-3 m-4 c-12">
                                <div class="container__gallery-img" style="background-image: url(../image/BANHOACA.PNG);">
                                    <p>+</p>
                                </div>
                            </div>
                            <div class="col l-3 m-4 c-12">
                                <div class="container__gallery-img" style="background-image: url(../image/LETHANHLAP.PNG);">
                                    <p>+</p>
                                </div>
                            </div>
                            <div class="col l-3 m-4 c-12">
                                <div class="container__gallery-img" style="background-image: url(../image/HOITHAO.PNG);">
                                    <p>+</p>
                                </div>
                            </div>
                            <div class="col l-3 m-4 c-12">
                                <div class="container__gallery-img" style="background-image: url(../image/HIENMAU.PNG);">
                                    <p>+</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    </div>
</body>

</html>