<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/slick/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="/assets/slick/slick-1.8.1/slick/slick-theme.css">




    <link href="../css-sys/grid.css" rel="stylesheet" />
    <link href="../css-sys/base_contact.css" rel="stylesheet" />
    <link href="../css-sys/contact.css" rel="stylesheet" />





</head>

<body class="">
    <div id="main">
        <div id="header" class="header">

            <div class="header__heading c-0">
                <div class="header__heading-items">
                    <span class="header__heading-item-phone">0242 242 0777</span>
                    <div class="header__heading-item-social">
                        <a><i class="fab fa-facebook-f"></i></a>

                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                <div class="header__heading-items">
                    <a class="header__heading-item-language color-white" href="/SelectLanguge/en">en</a>
                    <a class="header__heading-item-language color-white" href="/SelectLanguge/vi">vi</a>

                </div>
            </div>




        </div>
        <div class="header__navigation-btn">
        </div>
    </div>






    <div class="container">
        <div class="container_about-page" style="background-image: url();">
            <div class="grid wide margin-left padding-40">
                <div class="row">
                    <div class="container_about-page-warp l-7 col m-6">
                        <h5>EXPERIENCE THE FREEDOM</h5>
                        <h1>Li&#234;n hệ</h1>
                        <p>Nếu bạn c&oacute; bất kỳ c&acirc;u hỏi n&agrave;o, vui l&ograve;ng gửi tin nhắn với của ch&uacute;ng t&ocirc;i. Ch&uacute;ng t&ocirc;i lu&ocirc;n ở đ&acirc;y để trả lời c&acirc;u hỏi của bạn.</p>
                        <div class="container_about-page-items">
                            <i class="fa-solid fa-house-chimney"></i>
                            <a href="../template/ktx.html">Home</a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="../template/ktx.html">Pages</a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="../template/ktx.html" class="active-main-color">CONTACT PAGE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__contact">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-6 m-12 c-12">

                    </div>
                    <div class="col l-6 m-12 c-12">
                        <div class="container__contact-forms">
                            <h5>CONTACT FORM</h5>
                            <p>We are eager to hear from you; please fill in your contact information and one of our staff members will contact you shortly.</p>
                            <form action="" class="container__contact-form" style="justify-content: center;">
                                <div class="grid">
                                    <div class="row">
                                        <div class="col l-6 m-12 c-12">
                                            <input type="text" placeholder="YOUR NAME" class="container__contact-form-input">
                                        </div>
                                        <div class="col l-6 m-12 c-12">
                                            <input type="text" placeholder="YOUR SURNAME" class="container__contact-form-input">
                                        </div>
                                        <div class="col l-6 m-12 c-12">
                                            <input type="text" placeholder="YOUR EMAIL ADDRESS" class="container__contact-form-input">
                                        </div>
                                        <div class="col l-6 m-12 c-12">
                                            <input type="text" placeholder="YOUR PHONE" class="container__contact-form-input">
                                        </div>
                                        <div class="col l-12 m-12 c-12">
                                            <textarea name="" id="" cols="30" rows="10" placeholder="form-message" class="container__contact-form-input"></textarea>
                                        </div>
                                        <div class="col l-6 m-6 c-12">
                                            <p>* Please fill in all of the required fields</p>
                                        </div>
                                        <div class="col l-6 m-6 c-12">
                                            <button class="container__contact-form-btn">SEND FORM</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>