<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/slick/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="/assets/slick/slick-1.8.1/slick/slick-theme.css">




    <link href="../css-sys/grid.css" rel="stylesheet" />
    <link href="../css-sys/style.css" rel="stylesheet" />
    <link href="../css-sys/base_room.css" rel="stylesheet" />



</head>

<body class="">
    <div id="main">
        <div id="header" class="header">

            <div class="header__heading c-0">
                <div class="header__heading-items">
                    <span class="header__heading-item-phone">0242 242 0777</span>
                    <div class="header__heading-item-social">
                        <a><i class="fab fa-facebook-f"></i></a>

                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                <div class="header__heading-items">
                    <a class="header__heading-item-language color-white" href="/SelectLanguge/en">en</a>
                    <a class="header__heading-item-language color-white" href="/SelectLanguge/vi">vi</a>

                </div>
            </div>




        </div>
        <div class="header__navigation-btn">
        </div>
    </div>








    <!-- container -->
    <div class="container">
        <div class="container_about-page" style="background-image: url();">
            <div class="grid wide margin-left padding-40">
                <div class="row">
                    <div class="container_about-page-warp l-7 col m-6">
                        <h5>EXPERIENCE THE FREEDOM</h5>
                        <h1>Ph&#242;ng</h1>
                        <p>Phòng nghỉ từ tiêu chuẩn đến cao cấp được bố trí hài hòa trong khuôn viên kí túc xá. Tất cả các phòng nghỉ đều sở hữu tiện nghi đẳng cấp, không gian khoáng đạt cùng hiên ban công lãng mạn với tầm nhìn đường phố tấp nập..</p>
                        <div class="container_about-page-items">
                            <i class="fa-solid fa-house-chimney"></i>
                            <a href="../template/ktx.html">Home</a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="../template/ktx.html">Pages</a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="../template/ktx.html" class="active-main-color">Rooms Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__rooms">
            <div class="grid wide padding-40">
                <div class="row container__rooms-items">
                    <div class="l-3 m-3 c-12">
                        <a href="">
                            <div class="container__rooms-img" style="background-image: url(../image/6NGUOI.PNG);"></div>
                        </a>
                    </div>
                    <div class="l-7 m-7 c-12">
                        <div class="container__rooms-item-center">
                            <h2><a href="/phong/12/phong-superior">Ph&#242;ng Superior</a></h2>
                            <p>The Phenikaa dormitory tự hào có 100 phòng Superior Nhìn ra Thành phố mang đến cảm giác thư giãn và trang nhã của Phong cách Tân Cổ điển.</p>
                            <div class="container__rooms-item-center-warp">
                                <div class="grid">
                                    <div class="row margin-0">
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>BREAKFAST</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>WI-FI</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>HAIR DRYER</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>LCD TV</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>SHOWER AND TAB</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>SECURITY SYSTEM</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border">
                                            <i class="fa-solid fa-check"></i>
                                            <p>AIR CONDITIONING</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>MINI BAR</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border">
                                            <i class="fa-solid fa-check"></i>
                                            <p>TEA AND COFFEE SET</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-2 m-2 c-12">
                        <div class="container__rooms-item-right">
                            <div class="container__rooms-item-right-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="container__rooms-item-right-new-price">VND 300K</p>

                            <h5>PER MONTH</h5>
                            <a href="/phong/12/phong-superior" class="container__rooms-item-right-btn">ROOM DETAIL</a>
                        </div>
                    </div>
                </div>
                <div class="row container__rooms-items">
                    <div class="l-3 m-3 c-12">
                        <a href="">
                            <div class="container__rooms-img" style="background-image: url(../image/4NGUOI.PNG);"></div>
                        </a>
                    </div>
                    <div class="l-7 m-7 c-12">
                        <div class="container__rooms-item-center">
                            <h2><a href="/phong/14/phong-senior-deluxe">Ph&#242;ng Senior Deluxe</a></h2>
                            <p>Ban công với bàn và ghế êm ái cho phép khách ngồi lại và chiêm ngưỡng những cảnh quan sống động và đẹp như tranh vẽ của Hà Nội..</p>
                            <div class="container__rooms-item-center-warp">
                                <div class="grid">
                                    <div class="row margin-0">
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>BREAKFAST</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>WI-FI</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>HAIR DRYER</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>LCD TV</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>SHOWER AND TAB</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>SECURITY SYSTEM</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border">
                                            <i class="fa-solid fa-check"></i>
                                            <p>AIR CONDITIONING</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>MINI BAR</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border">
                                            <i class="fa-solid fa-check"></i>
                                            <p>TEA AND COFFEE SET</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-2 m-2 c-12">
                        <div class="container__rooms-item-right">
                            <div class="container__rooms-item-right-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="container__rooms-item-right-new-price">VND 600K</p>

                            <h5>PER MONTH</h5>
                            <a href="/phong/14/phong-senior-deluxe" class="container__rooms-item-right-btn">ROOM DETAIL</a>
                        </div>
                    </div>
                </div>
                <div class="row container__rooms-items">
                    <div class="l-3 m-3 c-12">
                        <a href="">
                            <div class="container__rooms-img" style="background-image: url(../image/6NGUOI.PNG);"></div>
                        </a>
                    </div>
                    <div class="l-7 m-7 c-12">
                        <div class="container__rooms-item-center">
                            <h2><a href="/phong/2013/phong-suite">Ph&#242;ng Suite</a></h2>
                            <p>Phòng Suite là sự lựa chọn thông minh của bạn dành cho những sinh viên bình dân vì sự tiện lợi và giá cả hợp lý.;.</p>
                            <div class="container__rooms-item-center-warp">
                                <div class="grid">
                                    <div class="row margin-0">
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>BREAKFAST</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>WI-FI</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>HAIR DRYER</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>LCD TV</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>SHOWER AND TAB</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 border-bottom">
                                            <i class="fa-solid fa-check"></i>
                                            <p>SECURITY SYSTEM</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border">
                                            <i class="fa-solid fa-check"></i>
                                            <p>AIR CONDITIONING</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border border-left-right">
                                            <i class="fa-solid fa-check"></i>
                                            <p>MINI BAR</p>
                                        </div>
                                        <div class="l-4 c-12 m-4 c-border">
                                            <i class="fa-solid fa-check"></i>
                                            <p>TEA AND COFFEE SET</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-2 m-2 c-12">
                        <div class="container__rooms-item-right">
                            <div class="container__rooms-item-right-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="container__rooms-item-right-new-price">VND 1200K</p>

                            <h5>PER MONTH</h5>
                            <a href="/phong/2013/phong-suite" class="container__rooms-item-right-btn">ROOM DETAIL</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>







</body>

</html>